:root {
    --gradient: linear-gradient(176.05deg, #6675ae 1.92%, #2b3e69 90.46%);
    --white: #ffffff;
    --black: linear-gradient(
        117.42deg,
        #1e212d 0%,
        #21273d 0.01%,
        #1d202e 91.49%
    );
    --red: #fd3162;
    --blue: #0057ff;
    --blue-1: #578ffc;
    --blue-2: #68a4ff;
    --blue-3: #94b3e2;
    --blue-4: #272c44;
    --lilac: #bc31fd;
    --yellow: #fd9331;
    --green: #81c784;
    --gray: #7088ac;
}
