@import '../../variables'

.input
    width: 100%
    max-width: 390px
    font-size: 14px
    display: block

.input_title
    color: $blue-3
    font-weight: 400
    line-height: 30px
    display: inline-block

.input_container
    display: flex
    height: 48px
    width: 100%
    position: relative

.input_field
    width: 100%
    display: block
    padding: 14px 45px 14px 20px
    background-color: $blue-4
    border: 1px solid $blue-4
    color: $blue-3
    outline: none
    line-height: 20px
    box-sizing: border-box
    border-radius: 4px
    font-weight: 500
    transition: border-color .123s ease-in, color .123s ease-in

    &::placeholder
        color: $gray
        font-weight: 500

.input_button
    position: absolute
    background-color: transparent
    border: 0
    padding: 0
    margin: 0
    right: 16px
    top: 12px
    bottom: 12px
    display: flex
    align-items: center

.input_field__error
    border-color: $red
    color: $red
    &::placeholder
        color: $red

.input_status
    color: $red
    font-size: 12px
    line-height: 16px
    display: inline-block
    margin-top: 4px

.dropdown_button
    width: 100%
    padding: 14px 16px 14px 20px
    display: flex
    align-items: center
    justify-content: space-between
    color: $gray
    font-weight: 500
    svg
        transition: transform .123s ease-in-out

.dropdown_button_span
    font-size: 14px
    line-height: 20px
    color: $blue-3
    font-weight: 500

.dropdown_button__opened
    border-radius: 4px 4px 0 0
    svg
        transform: rotate(180deg)

.dropdown_menu
    width: 100%
    position: absolute
    background-color: $blue-4
    top: 100%
    border-radius: 0 0 4px 4px
    display: grid
    grid-template-rows: 0fr
    transition: all .2s ease-in-out

.dropdown_menu_enter__active,
.dropdown_menu_enter__done
    grid-template-rows: 1fr

.dropdown_list
    list-style: none
    margin: 0
    padding: 0
    overflow: hidden

.dropdown_menu_item
    padding: 12px 16px 12px 20px
    font-size: 14px
    line-height: 20px
    color: $blue-3
    font-weight: 500
    cursor: pointer
    user-select: none
    transition: opacity .123s ease-in
    &:hover
        opacity: .75
    &:active
        opacity: .95

.datepicker__title
    font-weight: 700
    color: $blue-3
    margin-right: 36px

.datepicker__block
    background-color: $blue-4
    display: inline-flex
    align-items: center
    overflow: hidden
    border-radius: 4px

.datepicker__wrapper
    background-color: $blue-4
    border-radius: 4px
    display: flex
    padding: 20px

.leftList
    padding: 0
    margin: 0
    list-style: none
    display: flex
    flex-direction: column
    padding-right: 16px
    padding-bottom: 12px
    margin-right: 16px
    border-right: 1px solid $gray

.left__item
    padding: 4px 12px
    font-size: 14px
    font-weight: 400
    line-height: 24px
    letter-spacing: -0.006em
    color: $blue-3
    cursor: pointer
    transition: opacity .123s ease-in
    width: 145px
    &:hover
        opacity: .75
    &:active
        opacity: .95

.left__item_active
    color: $white
    font-weight: 600
    cursor: default
    &:hover
        opacity: 1

:global(.calendar)
    border-radius: 0 0 4px 4px
    overflow: hidden
    background-color: $blue-4
    color: $blue-3

:global(.picker__trigger)
    padding-right: 61px
    padding-left: 20px
    cursor: pointer
    background: url('../../assets/images/icons/calendar.svg') no-repeat right 12px center
    transition: .123s ease-in opacity
    &:hover
        opacity: .75
    &:active
        opacity: .95

:global(.picker__trigger .icon-right-arrow)
    display: none

:global(.calendar__list)
    display: flex
    gap: 24px

:global(.calendar__item)
    border: 0

:global(.calendar__day--6), :global(.calendar__day--0), :global(.calendar__body--table th), :global(.calendar__day--today)
    color: inherit
    background-color: transparent

:global(.calendar__day)
    width: 32px
    height: 32px
    vertical-align: middle
    text-align: center
    font-size: 14px
    line-height: 24px
    font-weight: 400
    letter-spacing: -0.006em
    padding-top: 0

:global(.calendar__day--start)
    border-radius: 4px 0 0 4px

:global(.calendar__day--end)
    border-radius: 0 4px 4px 0

:global(.calendar__day--start), :global(.calendar__day--end), :global(.calendar__day--selected), :global(.calendar__day:hover:not(.calendar__day--disabled))
    background-color: #103D9B
    color: $white

:global(.calendar__day--range)
    background-color: #5184D0
    color: #202537

:global(.calendar__head)
    background-color: transparent

:global(.range-picker-input)
    display: flex
    align-items: center
    width: auto
    gap: 5px

:global(.picker-input)
    width: 80px
    user-select: none

:global(.picker-input__text)
    color: $blue-3
    font-weight: 500
    font-size: 14px
    line-height: 20px
    background-color: transparent
    cursor: pointer
    padding: 14px 0 !important

:global(.range-picker-input)
    border: 0

:global(.range-picker-input__icon)
    &:before
        content: '-'
        font-weight: 500
        font-size: 14px
        line-height: 20px
        color: $blue-3
