@import "../../../variables.sass";

.select {
    position: relative;
    user-select: none;
    text-transform: uppercase;
}

.selected {
    display: flex;
    align-items: center;
    gap: 4px;

    &_arrow {
        transition: transform 0.123s ease-in;
    }
}

.selected_text {
    font-size: 14px;
}

.selected__opened .selected_arrow {
    transform: rotate(180deg);
}

.menu {
    background-color: $blue-4;
    position: absolute;
    top: calc(100% + 8px);
    border-radius: 4px;
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.2s ease-in-out;
    min-width: 70px;
    width: max-content;
    box-sizing: content-box;
    left: -20px;
    transition: all 0.123s ease-in, transform;
    overflow: hidden;
    padding: 0;
}

.menu__enter_active,
.menu__enter_done {
    grid-template-rows: 1fr;
    padding: 10px 0;
}

.list {
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
}

.listItem {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;

    padding: 0 20px;

    transition: opacity 0.123s ease-in;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }

    &:active {
        opacity: 0.95;
    }

    & + & {
        margin-top: 5px;
    }
}
