@import "../../../variables.sass";

.title {
    text-align: center;
    color: $blue-3;
    font-size: 20px;
    line-height: 120%;
    margin-top: 10px;
    margin-bottom: 3px;
}

.text {
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    color: $gray;
    text-align: center;
    margin: 0;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 30px;
}
