.title {
    text-align: center;
    color: var(--blue-3);
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 36px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 10px;
}
