.slider {
    width: calc(100% + var(--main-padding));
    padding-right: var(--main-padding);
}

.slide {
    display: inline-block;
    flex-grow: 1;
    max-width: 180px;
}

.slide__context {
    z-index: 1;
}

.slide__active {
    position: relative;
    z-index: 2;
}

:global(.swiper-button-next) {
    right: 23px;
    background-color: var(--blue-3);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: opacity .123s ease-in, background-color .123s ease-in;

    &:hover {
        background-color: var(--blue-2);
    }

    &:after {
        content: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.840088 1.68005L5.52009 6.36005L0.840088 11.0401' stroke='url(%23paint0_linear_7137_45)' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_7137_45' x1='0.840088' y1='1.68005' x2='6.93364' y2='3.26102' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231E212D'/%3E%3Cstop offset='0.0001' stop-color='%2321273D'/%3E%3Cstop offset='1' stop-color='%231D202E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        line-height: 0;
        font-size: 0;
    }

    &:global(.swiper-button-disabled) {
        display: none;
    }
}

:global(.swiper-button-prev) {
    right: 23px;
    background-color: var(--blue-3);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: opacity .123s ease-in, background-color .123s ease-in;

    &:hover {
        background-color: var(--blue-2);
    }

    &:after {
        content: url("data:image/svg+xml,%3Csvg transform='rotate(180)' width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.840088 1.68005L5.52009 6.36005L0.840088 11.0401' stroke='url(%23paint0_linear_7137_45)' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_7137_45' x1='0.840088' y1='1.68005' x2='6.93364' y2='3.26102' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231E212D'/%3E%3Cstop offset='0.0001' stop-color='%2321273D'/%3E%3Cstop offset='1' stop-color='%231D202E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        line-height: 0;
        font-size: 0;
    }

    &:global(.swiper-button-disabled) {
        display: none;
        pointer-events: none;
        opacity: 0;
    }
}