@import './assets/fonts'

*
    box-sizing: border-box

body
    font-family: 'SF Pro Display', sans-serif
    font-weight: 600
    font-size: 16px
    background-color: #202436
    color: #fff

button
    cursor: pointer
